In [1]:
import pandas as pd

In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ------------------------------------ --- 1.0/1.2 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import psycopg2  # Ensure the psycopg2 module is imported to use its functionalities

def connect_to_database():
    # This function establishes a connection to the PostgreSQL database using provided credentials
    return psycopg2.connect(
        host="your_host",  # Hostname of the PostgreSQL server
        database="your_database",  # Name of the database to connect to
        user="your_user",  # Username for authentication
        password="your_password"  # Password for authentication
    )

In [99]:
import pandas as pd
import numpy as np

# Generar la columna Producto con formato de 4 dígitos
producto = [f"P{i:04d}" for i in range(1, 1001)]

# Generar Ventas en el rango de 1000 a 10000
np.random.seed(2)#Permite que siempre me de los mismos datos
ventas = np.random.randint(1000, 10001, size=1000)

# Asignar Categoría según la paridad del número convertido a entero
categoria = ["GIMPAR" if int(p[1:]) % 2 != 0 else "GPAR" for p in producto]
#categoria = [p[1:] for p in producto]
# Crear el DataFrame sin especificar el índice
df = pd.DataFrame({"Producto": producto, "Ventas": ventas, "Categoría": categoria})
df["Ventas"]=df["Ventas"].astype(float)
# Mostrar las primeras filas
df.head()

  Producto  Ventas Categoría
0    P0001  8336.0    GIMPAR
1    P0002  3575.0      GPAR
2    P0003  7637.0    GIMPAR
3    P0004  3514.0      GPAR
4    P0005  2099.0    GIMPAR

In [111]:
def descuentos(row):
    if row >= 1000 and row<1500:
        return int(round(row-(row * 0.19),0))
    if row >= 1500 and row<3000:
        return int(round(row-(row * 0.20),0))
    if row >= 3000 and row<7000:
        return int(round(row-(row * 0.21),0))
    if row >=7000  and row<9000:
        return int(round(row-(row * 0.22),0))
    if row >= 9000 :
        return int(round(row-(row * 0.23),0))

In [112]:
df["Venta Neta"]=df["Ventas"].apply(lambda x: descuentos(x))
df.head()

  Producto  Ventas Categoría  Venta Neta
0    P0001  8336.0    GIMPAR        6502
1    P0002  3575.0      GPAR        2824
2    P0003  7637.0    GIMPAR        5957
3    P0004  3514.0      GPAR        2776
4    P0005  2099.0    GIMPAR        1679

In [102]:
df.to_parquet("ventas.parquet", engine="pyarrow", compression="snappy")

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Producto    1000 non-null   object
 1   Ventas      1000 non-null   float64
 2   Categoría   1000 non-null   object
 3   Venta Neta  1000 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 31.4+ KB

In [87]:
print(df.head(100))

   Producto  Ventas Categoría  Venta Neta
0     P0001    8336    GIMPAR        6502
1     P0002    3575      GPAR        2824
2     P0003    7637    GIMPAR        5957
3     P0004    3514      GPAR        2776
4     P0005    2099    GIMPAR        1679
..      ...     ...       ...         ...
95    P0096    7791      GPAR        6077
96    P0097    2243    GIMPAR        1794
97    P0098    9416      GPAR        7250
98    P0099    1049    GIMPAR         850
99    P0100    1296      GPAR        1050

[100 rows x 4 columns]